html {
	font-size: 100%
}

p {
    font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
}

.italic {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";
		text-align: center;
}

h1 {
	font-size: 2.5rem;
	text-align: center;
	font-family: 'Abril Fatface', 'Open Sans Condensed', sans-serif, Georgia;

}

h2 {
	font-size: 1.5rem
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";

}

body{
	background-color:rgba(255, 99, 71, 0.5);
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";

}

#container{
    width: 95%;
    background-color: #ffffff;
    margin: 0 auto;
}

ul {
	list-style: none;
	padding: 0;
	margin-left: 0 auto;
	margin-right: 0 auto;

}

#nav {
    padding: 0;
	list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 3px solid #ccc;
	border-top: 4px solid #ccc;
	border-right: 4px solid #ccc;
	border-left: 4px solid #ccc;
	border-style: double;
	border-color: #ccc;
	text-decoration: none;
	background-color:#ffffff
}

#nav a:link, a:visited {
	display:block;
    color: #F08080;
    background-color: #pink;
    font-weight: bolder;
    text-align:center;
    text-decoration: none;
    padding: 4px;
  	font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";
}

#nav a:hover, a:active {
    background-color: #b4b4b4;
}

.caption {
    color: black;
    font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: right;
}

#footer {
    color: black;
    font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";
    font-size: 0.8em;
    border-top: 1px solid black;
}

ul {
	color: black;
	font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";
	font-style: bold;
}

.container {
display: flex;
flex-direction: column;
}

@media (min-width: 600px) {

	.container {
		flex-direction: row;
		justify-content: center;
	}
}
