html {
	font-size: 100%
}

p {
    font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;
}

.italic {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";
		text-align: center;
}

h1 {
	font-size: 2.5rem;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";

}

h2 {
	font-size: 1.5rem
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";

}

body{
	background-color: white;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";
}

#container{
    width: 95%;
    background-color: #ffffff;
    margin: 0 auto;
}

ul {
	list-style: none;
	padding: 0;

}

#nav {
    padding: 0;
	list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	background-color:rgba(255, 99, 71, 0.5);
}

#nav a:link, a:visited {
	display:block;
    color: #F08080;
    background-color: #pink;
    font-weight: bolder;
    text-align:center;
    text-decoration: none;
    padding: 4px;
  	font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";
}

#nav a:hover, a:active {
    background-color: #b4b4b4;
}

.caption {
    color: black;
    font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: right;
}

#footer {
    color: black;
    font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";
    font-size: 0.8em;
    border-top: 1px solid black;
}

ul {
	color: black;
	font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";
	font-style: bold;

}
