/*styles go here*/

/*p {
    color: red;
}*/

html {
	font-size: 100%;
	text-align: center;

}


p {
	/* color: #666666; */
    font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
		font-size: 1rem; /* 1rem is about the same as size 16 it should never be smaller then that */
		line-height: 1.4rem;
		color: black;
}

h1 {
    font-family: 'Merriweather', Georgia, "Times New Roman", serif;
		color: rgba(255, 255, 255, .6);
}

.italic{
	font-style: italic;
}

body{
	background-color:#pink;

}

#container{
    width: 95%;
    background-color: #ffffff;
		padding: 10px;
    margin: 0 auto;
}

#nav {
    padding: 0;
	list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

#nav a:link, a:visited {
	display:block;
    color: #ffffff;
    background-color: #98bf21;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: #7a991a;
}

.caption {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: right;
}

#footer {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}

.nav ul {
display: flex;
flex-direction: column;
}

@media (min-width: 600px) {

	.nav ul {
		flex-direction: row;
		justify-content: center;
	}
}
